Yien Express/Service References/ServiceReference1/YienExpressWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="insertNormalClients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ncid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ncname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nccontact" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ncnic" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ncaddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertNormalClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertNormalClientsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="insertNormalClientsSoapIn">
    <wsdl:part name="parameters" element="tns:insertNormalClients" />
  </wsdl:message>
  <wsdl:message name="insertNormalClientsSoapOut">
    <wsdl:part name="parameters" element="tns:insertNormalClientsResponse" />
  </wsdl:message>
  <wsdl:portType name="YienExpressWebServiceSoap">
    <wsdl:operation name="insertNormalClients">
      <wsdl:input message="tns:insertNormalClientsSoapIn" />
      <wsdl:output message="tns:insertNormalClientsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YienExpressWebServiceSoap" type="tns:YienExpressWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertNormalClients">
      <soap:operation soapAction="http://tempuri.org/insertNormalClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YienExpressWebServiceSoap12" type="tns:YienExpressWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insertNormalClients">
      <soap12:operation soapAction="http://tempuri.org/insertNormalClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YienExpressWebService">
    <wsdl:port name="YienExpressWebServiceSoap" binding="tns:YienExpressWebServiceSoap">
      <soap:address location="http://localhost:53125/YienExpressWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="YienExpressWebServiceSoap12" binding="tns:YienExpressWebServiceSoap12">
      <soap12:address location="http://localhost:53125/YienExpressWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>